/* background: rgb(22,11,91);
background: linear-gradient(90deg, rgba(22,11,91,1) 10%, rgba(57,30,190,1) 33%, rgba(154,38,91,1) 73%); */

body {
  background: rgb(16,12,36);
  background-image: linear-gradient(90deg, rgba(16,12,36,1) 10%, rgba(37,12,18,1) 48%, rgba(31,4,16,1) 73%);
  font-family: 'Varela Round', sans-serif;
}

#mainLogo {
  height: 100px;
  width: 140px;
  background-color: white;
  margin-right: 30px;
}

#mainNav {
  width: 80%;
  border-color: white;
  position: sticky;
  z-index: 100;
}

#navBar {
  margin-left: 5%;
  z-index: 100;
}

#menuBar {
  position: fixed;
  top: 0%;
  width: 100%;
  background: rgb(16,12,36);
  background-image: linear-gradient(90deg, rgba(16,12,36,1) 10%, rgba(37,12,18,1) 48%, rgba(31,4,16,1) 73%);
  -webkit-box-shadow: 13px 19px 70px -34px rgba(36,32,36,1);
  -moz-box-shadow: 13px 19px 70px -34px rgba(36,32,36,1);
  box-shadow: 13px 19px 70px -34px rgba(36,32,36,1);
  z-index: 100;
}

#menuForm {
  width: 100%;
}

#mainIcon {
  font-size: 40px;
  object-position: center;
  margin: auto;
}

#menuItem {
  object-position: center;
}

#topButton1 {
  width: 120px;
  height: 100px;
  background: rgb(16,12,36);
  color: white;
  border-color: white;
}

#topButton2 {
  width: 120px;
  height: 100px;
  background: rgb(16,12,36);
  color: white;
  border-color: white;
}

#topButton3 {
  width: 120px;
  height: 100px;
  background: rgb(16,12,36);
  color: white;
  border-color: white;
}

#topButton4 {
  width: 120px;
  height: 100px;
  background: rgb(16,12,36);
  color: white;
  border-color: white;
}

#topButton5 {
  width: 120px;
  height: 100px;
  background: rgb(16,12,36);
  color: white;
  border-color: white;
}


#topButton1:hover {
  width: 120px;
  height: 100px;
  background: white;
  color: rgb(16,12,36);
  border-color: rgb(16,12,36);
}

#topButton2:hover {
  width: 120px;
  height: 100px;
  background: white;
  color: rgb(16,12,36);
  border-color: rgb(16,12,36);
}

#topButton3:hover {
  width: 120px;
  height: 100px;
  background: white;
  color: rgb(16,12,36);
  border-color: rgb(16,12,36);
}

#topButton4:hover {
  width: 120px;
  height: 100px;
  background: white;
  color: rgb(16,12,36);
  border-color: rgb(16,12,36);
}

#topButton5:hover {
  width: 120px;
  height: 100px;
  background: white;
  color: rgb(16,12,36);
  border-color: rgb(16,12,36);
}

#searchBar {
  margin-right: 40px;
}

#searchInput {
  border-radius: 15px;
  padding: 5px 5px 5px 25px;
  border-color: rgb(22,11,91);
}

#searchLoop {
  border-radius: 15px;
  padding: 5px 5px 5px 25px;
  margin-left: -40px;
  width: 50px;
  background: rgb(22,11,91);
  background: linear-gradient(90deg, rgba(22,11,91,1) 10%, rgba(57,30,190,1) 33%, rgba(154,38,91,1) 73%);
  border-color: rgb(22,11,91);
}


/* header Text */
#headerHead {
  margin: 20% 0% 0% 1%;
  color: white;
  font-weight: bold;
}

#headerText {
  margin: 1% 39% 0% 1%;
  color: white;
  font-weight: normal;
}

#services {
  width: 96%;
  background-color: white;
  height: 450px;
  margin-top: 10%;
  border-radius: 14px;
  width: 100%;
  background: rgb(22,11,91);
  background: linear-gradient(90deg, rgba(22,11,91,1) 10%, rgba(57,30,190,1) 33%, rgba(154,38,91,1) 73%);
}

#ourServices {
  text-align: center;
  background-color: #201c29;
  margin: 2.5% 2% 2% 2%;
  color: white;
  border-radius: 8px;
  -webkit-box-shadow: 13px 19px 70px -34px rgba(36,32,36,1);
  -moz-box-shadow: 13px 19px 70px -34px rgba(36,32,36,1);
  box-shadow: 13px 19px 70px -34px rgba(36,32,36,1);
}

ul {
  text-align: left;
  font-style: normal;
}

p {
  color: #a1a1af;
  text-align: left;
}

#butElect {
  background-color: transparent;
  color: white;
  text-align: center;
  height: 40px;
  margin-top: 2px;
}

#butElectText {
  margin: auto;
}

#butElect:hover {
  background: linear-gradient(90deg, rgba(22,11,91,1) 10%, rgba(57,30,190,1) 33%, rgba(154,38,91,1) 73%);
  color: white;
  border-color: blue;
}

#butDig {
  background-color: transparent;
  color: white;
  text-align: center;
  height: 40px;
  margin-top: 28px;
}

#butDig:hover {
  background: linear-gradient(90deg, rgba(22,11,91,1) 10%, rgba(57,30,190,1) 33%, rgba(154,38,91,1) 73%);
  color: white;
  border-color: blue;
}

#butFor {
  background-color: transparent;
  color: white;
  text-align: center;
  height: 40px;
  margin-top: 26px;
}

#butFor:hover {
  background: linear-gradient(90deg, rgba(22,11,91,1) 10%, rgba(57,30,190,1) 33%, rgba(154,38,91,1) 73%);
  color: white;
  border-color: blue;
}

#butAna {
  background-color: transparent;
  color: white;
  text-align: center;
  height: 40px;
  margin-top: 16px;
}

#butAna:hover {
  background: linear-gradient(90deg, rgba(22,11,91,1) 10%, rgba(57,30,190,1) 33%, rgba(154,38,91,1) 73%);
  color: white;
  border-color: blue;
}

#serIcon {
  font-size: 40px;
  margin-top: 15px;
  margin-bottom: 10px;
}

/* Clients Section */
#clientSection {
  margin-top: 20%;
}

#clientList {
  margin-left: -4%;
  margin-right: 2%;
  border-color: linear-gradient(to right, red, purple);
  padding: 3px;
  padding: 1rem;
  border-width: 4px;
}

#clientLeft {
  -webkit-box-shadow: 13px 19px 70px -34px rgba(36,32,36,1);
  -moz-box-shadow: 13px 19px 70px -34px rgba(36,32,36,1);
  box-shadow: -1rem 0 3rem #000;
  padding: 1.5rem;
  border-radius: 16px;
  width: 250px;
  margin-left: 20px;
  margin-top: 15%;
  height: 380px;
  background: rgb(22,11,91);
  background: linear-gradient(90deg, rgba(22,11,91,1) 10%, rgba(57,30,190,1) 33%, rgba(154,38,91,1) 73%);
  font-family: 'Varela Round', sans-serif;
  color: white;
}

#clientLogo {
  width: 120px;
  height: 60px;
  margin-left: 20%;
}

#cardClient1 {
  margin-top: 60px;
  margin-right: -20%;
  margin-left: 2%;
  background-color: #201c29;
  -webkit-box-shadow: 13px 19px 70px -34px rgba(36,32,36,1);
  -moz-box-shadow: 13px 19px 70px -34px rgba(36,32,36,1);
  box-shadow: -1rem 0 3rem #000;
  border-radius: 16px;
  background: #17141d;
  width: 300px;
  height: 420px;
  -webkit-transform: rotate(-25deg);
  -moz-transform: rotate(-25deg);
  -ms-transform: rotate(-25deg);
  -o-transform: rotate(-25deg);
}

#cardClient1:hover {
  z-index: 10;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  margin-right: -5%;
}

#cardClient2 {
  margin-right: -20%;
  margin-top: 30px;
  background-color: #201c29;
  -webkit-box-shadow: 13px 19px 70px -34px rgba(36,32,36,1);
  -moz-box-shadow: 13px 19px 70px -34px rgba(36,32,36,1);
  box-shadow: -1rem 0 3rem #000;
  border-radius: 16px;
  background: #17141d;
  width: 300px;
  height: 420px;
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
}

#cardClient2:hover {
  z-index: 10;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  margin-right: -5%;
}

#cardClient3 {
  margin-right: -20%;
  margin-top: 0px;
  background-color: #201c29;
  -webkit-box-shadow: 13px 19px 70px -34px rgba(36,32,36,1);
  -moz-box-shadow: 13px 19px 70px -34px rgba(36,32,36,1);
  box-shadow: -1rem 0 3rem #000;
  border-radius: 16px;
  background: #17141d;
  width: 300px;
  height: 420px;
  -webkit-transform: rotate(-7deg);
  -moz-transform: rotate(-7deg);
  -ms-transform: rotate(-7deg);
  -o-transform: rotate(-7deg);
}

#cardClient3:hover {
  z-index: 10;
  -webkit-transform: rotate(-1deg);
  -moz-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  -o-transform: rotate(-1deg);
  margin-right: -5%;
}

#cardClient4 {
  margin-right: -20%;
  margin-top: 0px;
  background-color: #201c29;
  -webkit-box-shadow: 13px 19px 70px -34px rgba(36,32,36,1);
  -moz-box-shadow: 13px 19px 70px -34px rgba(36,32,36,1);
  box-shadow: -1rem 0 3rem #000;
  border-radius: 16px;
  background: #17141d;
  width: 300px;
  height: 420px;
  -webkit-transform: rotate(7deg);
  -moz-transform: rotate(7deg);
  -ms-transform: rotate(7deg);
  -o-transform: rotate(7deg);
}

#cardClient4:hover {
  z-index: 10;
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  -o-transform: rotate(1deg);
  margin-right: -5%;
}

#cardClient5 {
  margin-right: -20%;
  margin-top: 30px;
  background-color: #201c29;
  -webkit-box-shadow: 13px 19px 70px -34px rgba(36,32,36,1);
  -moz-box-shadow: 13px 19px 70px -34px rgba(36,32,36,1);
  box-shadow: -1rem 0 3rem #000;
  border-radius: 16px;
  background: #17141d;
  width: 300px;
  height: 420px;
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -o-transform: rotate(15deg);
}

#cardClient5:hover {
  z-index: 10;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  margin-right: -5%;
}


#cardClient6 {
  margin-right: 8%;
  margin-top: 60px;
  -webkit-box-shadow: 13px 19px 70px -34px rgba(36,32,36,1);
  -moz-box-shadow: 13px 19px 70px -34px rgba(36,32,36,1);
  box-shadow: -1rem 0 3rem #000;
  padding: 1.5rem;
  border-radius: 16px;
  background: #17141d;
  width: 300px;
  height: 420px;
  -webkit-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  -o-transform: rotate(25deg);
}

#cardClient6:hover {
  z-index: 10;
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  margin-right: 10%;
}


/* Key Statistics */
#sectionCounter {
  margin-top: 10%;
  margin-bottom: 10%;
}

#statBlock1 {
  background-color: transparent;
  margin: 4% 4% 4% 4%;
  height: 150px;
}

#statBlock1:hover {
  background: linear-gradient(90deg, rgba(22,11,91,1) 10%, rgba(57,30,190,1) 33%, rgba(154,38,91,1) 73%);
  border-radius: 14px;
  color: white;
}

#statBlock1Cont {
  margin-top: 40px;
}

#statBlock2 {
  background-color: transparent;
  margin: 4% 4% 4% 4%;
  height: 150px;
}

#statBlock2:hover {
  background: linear-gradient(90deg, rgba(22,11,91,1) 10%, rgba(57,30,190,1) 33%, rgba(154,38,91,1) 73%);
  border-radius: 14px;
}

#statBlock2Cont {
  margin-top: 40px;
  color: white;
}

#statBlock3 {
  background-color: transparent;
  margin: 4% 4% 4% 4%;
  height: 150px;
}

#statBlock3:hover {
  background: linear-gradient(90deg, rgba(22,11,91,1) 10%, rgba(57,30,190,1) 33%, rgba(154,38,91,1) 73%);
  border-radius: 14px;
}

#statBlock3Cont {
  margin-top: 40px;
  color: white;
}

#statBlock4 {
  background-color: transparent;
  margin: 4% 4% 4% 4%;
  height: 150px;
}

#statBlock4:hover {
  background: linear-gradient(90deg, rgba(22,11,91,1) 10%, rgba(57,30,190,1) 33%, rgba(154,38,91,1) 73%);
  border-radius: 14px;
}

#statBlock4Cont {
  margin-top: 40px;
  color: white;
}


.count-text {
  text-align: center;
}

#iconStat {
  font-size: 40px;
}


/* Footer Section */
.columnFooter {
  float: left;
  width: 30%;
  margin-top: 4%;
  height: 240px;
}

#footerRow {
  /*background: inherit; */
  -webkit-box-shadow: -2px -23px 42px -38px rgba(215,224,220,1);
  -moz-box-shadow: -2px -23px 42px -38px rgba(215,224,220,1);
  box-shadow: -2px -23px 42px -38px rgba(215,224,220,1);
  margin-top: 10%;
  width: 100%;
  margin-bottom: 0;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  width: 100%;
}

#aboutUs {
  margin-left: 2%;
  margin-right: 0%;
  background: radial-gradient(180px at top right,#685e31,rgba(0,0,0,0)),radial-gradient(180px at top left,#0d92c3,rgba(0,0,0,0)),radial-gradient(180px at bottom left,#8a43bd,rgba(0,0,0,0)),radial-gradient(180px at bottom right,#1d8d42,rgba(0,0,0,0));
  border-radius: 10px;
  border: 1px solid #333;
}

#footerAbout {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 6%;
  color: white;
}

#techVideo {
  margin-left: 3%;
  margin-right: 2%;
}

#contactDetails {
  margin-left: 0%;
  margin-right: 2%;
  background: radial-gradient(circle at top right,#813102,rgba(0,0,0,0));
  border-radius: 10px;
  border: 1px solid #333;
}

#footerContacts {
  margin-left: 6%;
  margin-top: 6%;
  margin-right: 6%;
  color: white;
}

#copyRight {
  margin-top: 5%;
  margin-left: 33%;
  margin-bottom: 4%;
}

/* Sillon Analytics Customization */
#headerAnalytics {
  margin-top: 18%;
  color: white;
  width: 100%;
}

#headerTextAnalytics {
  margin-top: 5%;
}

#headerChart1 {
  margin-top: -5%;
}

#headerPC {
  width: 560px;
  height: 415px;
}

/* Our Sillon Analytics Services Section */
#analyticsSection1 {
  border-color: white;
  border-radius: 3px;
  -webkit-box-shadow: -2px -23px 42px -38px rgba(215,224,220,1);
  -moz-box-shadow: -2px -23px 42px -38px rgba(215,224,220,1);
  box-shadow: -2px -23px 42px -38px rgba(215,224,220,1);
}

.container-fluid {
  margin-top: 12%;
}

#analyticServices {
  width: 100%;
  margin-bottom: 10%;
}

#analyticsList {
  background: #17141d;
  z-index: 12;
  height: 440px;
}

#analyticsListLeft {
  width: 100%;
  margin-left: 0%;
  height: 69px;
  top: 8%;
  -webkit-box-shadow: 13px 19px 70px -34px rgba(36,32,36,1);
  -moz-box-shadow: 13px 19px 70px -34px rgba(36,32,36,1);
}

.border-success {
    border-color: white!important;
}

#analyticsDashboard {
  color: white;
}

#dashboard1 {
  width: 90%;
  margin-left: 45px;
  margin-top: 45px;
}

#cardText {
  margin-left: 60px;
  position: center;
  margin-top: -30px;
}

#collectIcon {
  font-size: 40px;
}

/* Value Propositions Section */
#analyticsValueProp {
  -webkit-box-shadow: -2px -23px 42px -38px rgba(215,224,220,1);
  -moz-box-shadow: -2px -23px 42px -38px rgba(215,224,220,1);
  box-shadow: -2px -23px 42px -38px rgba(215,224,220,1);
  margin-top: 5%;
  background: rgb(16,12,36);
  background-image: linear-gradient(90deg, rgba(16,12,36,1) 10%, rgba(37,12,18,1) 48%, rgba(31,4,16,1) 73%);
  margin: auto;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#imageVP1 {
  width: 425px;
  height: 400px;
  margin-left: 10%;
  margin-right: 4%;
  margin-top: 10%;
}

#analyticsVPa {
  text-align: center;
  margin: auto;
  margin-top: 6%;
  width: 45%;
}

#iconValue1 {
  font-size: 70px;
  color: white;
  margin-bottom: 5%;
}

#iconValue1:hover {
  color: inherit;
}

/* Value Proposition 2 */
#analyticsVP2 {
  margin-top: 2%;
  margin-left: 5%;
}

#imageVP2 {
  width: 400px;
  height: 400px;
  margin-left: 10%;
  margin-top: 20%;
}

#analyticsVPb {
  text-align: center;
  margin: auto;
}

#iconValue2 {
  font-size: 70px;
  color: white;
  margin-bottom: 5%;
  margin-top: 20%;
}

#iconValue2:hover {
  color: inherit;
}

/* Value Proposition 3 */

#imageVP3 {
  width: 550px;
  height: 320px;
  margin-left: 5%;
  margin-top: 22%;
}

#analyticsVPc {
  text-align: center;
  margin: auto;
  margin-top: 0%;
  width: 45%;
}

.row {
  width: 100%;
}

#iconValue3 {
  font-size: 70px;
  color: white;
  margin-bottom: 5%;
  margin-top: 20%;
}

/* Sillon Digital */
#headerDigital {
  margin-top: 0%;
  height: 620px;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
  -webkit-box-shadow: 0px 13px 28px -15px rgba(214,210,214,1);
  -moz-box-shadow: 0px 13px 28px -15px rgba(214,210,214,1);
  box-shadow: 0px 13px 28px -15px rgba(214,210,214,1);
}

#headerTextDigital {
  margin-top: 260px;
  color: white;
}

#headerChartDigital {
  margin-top: 12%;
}

/* Nos Services, Sillon Digital */
#digitalServicesAll {
  margin-top: -20%;
}


#servicesDigital {
  color: white;
  margin-bottom: 10%;
  margin-top: 0.5%;
  margin-left: 0.5%;
  height: 80px;
  width: 99%;
  border-radius: 25px;
  object-position: center;
  padding: 5px;
  background: #17141d;
}

#servicesDigitalTitle {
  margin: auto;
  margin-top: 16px;
}

#digitalRowServices {
  background: rgb(22,11,91);
  background: linear-gradient(90deg, rgba(22,11,91,1) 10%, rgba(57,30,190,1) 33%, rgba(154,38,91,1) 73%);
  width: 80%;
  height: 90px;
  margin-left: 10%;
  margin-bottom: 20%;
  border-radius: 25px;
}

.vl {
  height: 500px;
  margin-left: 50%;
  margin-top: -20%;
}

#verLine {
  background: rgb(22,11,91);
  background: linear-gradient(90deg, rgba(22,11,91,1) 10%, rgba(57,30,190,1) 33%, rgba(154,38,91,1) 73%);
  width: 0.5%;
  height: 1260px;
}

/* Our Sillon Digital Services */
/* Service Digital 1 */

#digitalServicesAll {
  margin-top: -95%;
}

#softwareDigitalIcon {
  font-size: 40px;
}

#digitalService1 {
    margin-right: 8%;
    margin-top: 0px;
    /*-webkit-box-shadow: 13px 19px 70px -34px rgba(36,32,36,1);
    -moz-box-shadow: 13px 19px 70px -34px rgba(36,32,36,1);
    box-shadow: -1rem 0 3rem #000; */
    padding: 1.5rem;
    border-radius: 16px;
    background: #17141d;
    width: 500px;
    height: 300px;
    color: white;
    margin-left: 7px;
}

#digital1 {
  margin-top: -35%;
}

#digitalServiceTitle1 {
  margin: auto;
  color: white;
  text-align: center;
}

/* Service Sillon Digital 2 */
#digitalService2 {
    margin-left: 19.5%;
    margin-top: 60px;
    /*-webkit-box-shadow: 13px 19px 70px -34px rgba(36,32,36,1);
    -moz-box-shadow: 13px 19px 70px -34px rgba(36,32,36,1);
    box-shadow: -1rem 0 3rem #000; */
    padding: 1.5rem;
    border-radius: 16px;
    background: #17141d;
    width: 500px;
    height: 300px;
    color: white;
}

#digital2 {
  margin-top: -5%;
}

#digitalServiceTitle2 {
  margin: auto;
  color: white;
  text-align: center;
}

/* Service Sillon Digital 3 */
#digitalService3 {
    margin-left: 1.2%;
    margin-top: 60px;
    /*-webkit-box-shadow: 13px 19px 70px -34px rgba(36,32,36,1);
    -moz-box-shadow: 13px 19px 70px -34px rgba(36,32,36,1);
    box-shadow: -1rem 0 3rem #000; */
    padding: 1.5rem;
    border-radius: 16px;
    background: #17141d;
    width: 500px;
    height: 300px;
    color: white;
}

#digital3 {
  margin-top: -5%;
}

#digitalServiceTitle3 {
  margin: auto;
  color: white;
  text-align: center;
}

/* Service Sillon Digital 4 */
#digitalService4 {
    margin-left: 19.5%;
    margin-top: 60px;
    /*-webkit-box-shadow: 13px 19px 70px -34px rgba(36,32,36,1);
    -moz-box-shadow: 13px 19px 70px -34px rgba(36,32,36,1);
    box-shadow: -1rem 0 3rem #000; */
    padding: 1.5rem;
    border-radius: 16px;
    background: #17141d;
    width: 500px;
    height: 300px;
    color: white;
}

#digital4 {
  margin-top: -5%;
}

#digitalServiceTitle2 {
  margin: auto;
  color: white;
  text-align: center;
}
